.offers {
  padding: 50px 0 90px;

  @media (max-width: $breakpoint992) {
    padding-top: 30px;
  }

  @media (max-width: $breakpoint480) {
    padding-top: 20px;
  }

  // .offers__text
  &__text {
    margin-top: 50px;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.3px;

    @media (max-width: $breakpoint375) {
      font-size: 14px;
      letter-spacing: normal;
    }
  }

  &-slide {
    margin-top: 50px;
    max-width: 100%;

    @media (max-width: $breakpoint375) {
      margin-top: 30px;
    }
  }
}

.offer-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;

  @media (min-width: 991.98px) {
    display: grid;
    transform: none !important;
  }

  @media (max-width: $breakpoint1200) {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 40px;
  }

  @media (max-width: $breakpoint992) {
    display: flex;
    margin: 0;
    gap: 0;
    
  }
}

.offer {
  max-width: 100%;
  @media (max-width: $breakpoint992) {
    box-shadow: 0px 5px 40px -5px rgba(3, 40, 60, 0.55);
  }

  // .offer__preview
  &__preview {
    width: 100%;
    height: 165px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  // .offer__info
  &__info {
    position: relative;
    width: 100%;
    padding: 15px 15px 75px;
    border: 1px solid #E0E5E2;
    border-top: none;
    @media (max-width: $breakpoint375) {
      padding: 10px 10px 50px;
    }
  }

  // .offer__title-wrapper
  &__title-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    @media (max-width: $breakpoint375) {
      margin-bottom: 5px;
    }
  }

  // .offer__title-image
  &__title-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid $black;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;

    @media (max-width: $breakpoint375) {
      width: 30px;
      height: 30px;

      img {
        width: 90%;
      }
    }
  }

  // .offer__title
  &__title {
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: $primaryDark;

    @media (max-width: $breakpoint375) {
      font-size: 16px;
    }
  }

  // .offer__description
  &__description {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: $primaryDark;

    @media (max-width: $breakpoint1200) {
      max-width: 85%;
    }

    @media (max-width: $breakpoint992) {
      max-width: 100%;
    }

    @media (max-width: $breakpoint375) {
      font-size: 14px;
      line-height: 18px;
    }
  }
  
  // .offer__link
  &__link {
    position: absolute;
    display: flex;
    justify-content: end;
    width: calc(100% + 2px);
    bottom: -1px;
    right: -1px;
    overflow: hidden;


    @media (max-width: 1024px) {
      .offer__link_non-hover {
        width: 100%;
      }

      &:hover {
        .offer__link-arrow path {
          fill: $secondary;
          }
  
        .offer__link-text {
          color: $secondary;
        }
      }
    }
    //.offer__link:hover
    &:hover {
      .offer__link_non-hover {
        width: 100%;
      }

      .offer__link-arrow {
        right: 25px;
        transform: rotate(45deg);
        }

      .offer__link-text {
        visibility: visible;
        opacity: 1;
        right: 58px;
      }
    }

    &:active {
      .offer__link-arrow path {
        fill: $secondary;
        }

      .offer__link-text {
        color: $secondary;
      }
    }
  }

  // .offer__link_non-hover
  &__link_non-hover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: $neutralLight;
    transition: .3s cubic-bezier(1,-.01,.22,1);

    @media (max-width: $breakpoint375) {
      height: 40px;
    }
  }

  // .offer__link-text
  &__link-text {
    display: inline-block;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    right: -50px;
    top: 17px;
    transition: .4s cubic-bezier(1,-0.01,.22,1.24), color .4s linear;
    color: $primaryDark;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;

    @media (max-width: 1024px) {
      visibility: visible;
      opacity: 1;
      right: 58px;
    }

    @media (max-width: $breakpoint375) {
      font-size: 13px;
      top: 6px;
      right: 43px;
    }
  }

  // .offer__link-arrow
  &__link-arrow {
    position: absolute;
    right: 21px;
    transition: .4s cubic-bezier(1,-0.01,.22,1.24);

    // .offer__link-arrow path
    path {
      transition: fill .4s linear;
    }

    @media (max-width: 1024px) {
      right: 25px;
      transform: rotate(45deg);
    }

    @media (max-width: $breakpoint375) {
      top: 13px;
      right: 15px;
      path {
        transform: scale(0.75);
      }
    }
  }
}

.swiper {

  // .swiper-pagination
  &-pagination {
    bottom: 50px !important;

    @media (min-width: 992px) {
      display: none;
    }
  }

  // .swiper-button-next
  &-button-next {
    top: 0;
    right: 0;
    height: 100%;
    width: 20.5%;
    background: linear-gradient(90deg, rgba(255,255,255,0.13769257703081228) 0%, rgba(255,255,255,1) 100%, rgba(3,40,60,1) 0%,);
  }

  // .swiper-button-prev
  &-button-prev {
    top: 0;
    left: 0;
    width: 20.5%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.13769257703081228) 100%, rgba(3,40,60,1) 100%);
  }

  &-button-next,
  &-button-prev {

    @media (min-width: 992px) {
      display: none;
    }

    @media (max-width: 950px) {
      width: 20%;
    }

    @media (max-width: 900px) {
      width: 19%;
    }

    @media (max-width: $breakpoint768) {
      width: 19.5%;
    }

    @media (max-width: 700px) {
      width: 18.5%;
    }

    @media (max-width: 650px) {
      width: 18%;
    }

    @media (max-width: 600px) {
      width: 10%;
    }
    
    @media (max-width: $breakpoint375) {
      width: 8%;
    }

    @media (max-width: 269.98px) {
      display: none;
    }
  }
}